<!DOCTYPE html>
<html lang="es ">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Credencial</title>
    <!-- FUENTE -->
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <!-- CSS -->
    <style>
        html,
        body {
            height: 70%;
        }
        
        body {
            background-color: #DDECF4;
            background-size: 100% 100%;
            font-family: 'Poppins';
            font-weight: 300;
            height: 100%;
            text-align: center;
            color: #262B34;
        }
        
        .bold {
            font-weight: 300;
        }
    </style>
    <!-- TERMINA CSS -->
</head>

<body>
    <div style="padding-top:80px;">
        <div>
            <h1 class="bold">Credencial</h1>
            <p style="margin-bottom:0px;margin-top:25px;" class="light">Certifica a:</p>
            <p style="font-size:2.4em;color:#1BBC9B;margin:0px;" class="bold"> {{name}} </p>
            <br>
            <br>
            <p style="margin:0px;"> Por completar el curso de: </p>
            <h2 style="max-width:600px;margin: 25px auto;font-size:3em;" class="bold"> {{course}} </h2>

            <p style="margin:0px;"> Con la puntuacion de: </p>
            <p style="font-size:0.7em;" class="bold"> {{score}} </p>
            <br>
            <br>
            <p style="margin:0px;"> Expedido en la fecha: </p>
            <p style="font-size:0.7em;" class="bold"> {{date}} </p>
        </div>
    </div>
</body>

</html>